
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>Products</h2>

<div>
    <div>
        <form>
            <input type="search" id="search" placeholder="search" />
        </form>
    </div>
    <div>
        <table class="table table-responsive table-bordered" />
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Price</th>
                <th>Details</th>
                <th>Category</th>
            </tr>
        </thead>

        <tbody id="listProducts">
            @*Los datos de esta tabla son buscados por ajax*@
        </tbody>

        </table>

        <form class="text-right">
            <a href="~/Access/Login" class="btn-default btn">Login</a>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
        crossorigin="anonymous"></script>
<script src="~/Scripts/Access/Home.js"></script>